{% extends 'Student_template/base_template.html' %}
{% block page_title %}
<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Opt-Out Form</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
</div>
{% endblock page_title  %}
{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h5 class="card-drive_name">Fill this optout form</h5>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
            <div class="card-body">


                    <form method="POST" action="{% url 'stu_opt_out_save' %}">
                        {% csrf_token %}


                        <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Title</label>

                            <div class="col-md-6">
                                <input id="title" type="text" class="form-control" name="title" value="" required>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="optout" class="col-md-4 col-form-label text-md-right">Reason for OptOut</label>

                            <div class="col-md-6">
                                <textarea rows="7" cols="7" id="optout" type="text" class="form-control" name="optout" value="" required></textarea>
                            </div>
                        </div>


                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4 ">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}