{% extends 'college_template/base_template.html' %}
{% block page_title %}
<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Closed Internship Posts</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <a href="{% url 'clg_manage_internship_published' %}" class="btn btn-success">Published posts</a>
            <a href="{% url 'clg_manage_internship_publish' %}" class="btn btn-info">New And Unpublished posts</a>

          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
</div>
{% endblock page_title  %}
{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        Closed Internship Psots
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}