{% extends 'college_template/base_template.html' %}
{% block page_title %}
Edit Student
{% endblock page_title  %}
{% block main_content %}
{% load static %}
<!--Profile style -->
   <link rel="stylesheet" href="{% static "dist/css/profile.css" %}">
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="login-logo">
<!--    <a href="../../index2.html"><b>Placement</b> Management System</a>-->
    <b>Placement</b> Management System Edit Student
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
         <div class="row">
          {% if messages %}
         <div class="col-12">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
            {% endif %}
             {% if message.tags == 'success' %}
            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
            {% endif %}
            {% endfor %}

          </div>
          {% endif %}
        </div>
         <a href="{% url 'clg_show_student' edit_student.placementDrive_id %}" class="btn btn-danger"><i class="fa fa-step-backward" aria-hidden="true"> Back </i></a>
      <p class="login-box-msg">Edit Student</p>

      <form method="POST" enctype="multipart/form-data" action="{% url 'clg_edit_student_save' %}"  id="frm">
          {% csrf_token %}

        <div class="input-group mb-3">
          <div class="container">
            <div class="picture-container">
              <div class="picture">
                <img src="{{ edit_student.profile_pic }}" class="picture-src" id="wizardPicturePreview">
                <input type="file" id="wizard-picture" class="" name="profile_pic" accept="image/*">
              </div>
            </div>
          </div>
          <div class="input-group-append">
          </div>
        </div>
        <input name="student_id" type="hidden" value="{{ edit_student.id }}">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enrollment no." name="enrolment_no" onkeypress="return onlyNumberKey(event)" maxlength="12" minlength="12" value="{{ edit_student.enrolment_no }}">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="First Name" name="stu_first_name" value="{{ edit_student.user_type.first_name }}">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Last Name" name="stu_last_name" value="{{ edit_student.user_type.last_name }}">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
         <input type="text" name="phone_no" class="form-control" placeholder="Phone number" onkeypress="return onlyNumberKey(event)" maxlength="10" minlength="10" value="{{ edit_student.phone_no }}">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="S.S.C (%)"  onkeypress="return isNumberDeimalKey(event)" maxlength="3" name="ssc_percentage" value="{{ edit_student.ssc_percentage }}">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="H.S.C (%)" onkeypress="return isNumberDeimalKey(event)" maxlength="3" name="hsc_percentage" value="{{ edit_student.hsc_percentage }}">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="U.G (%)" onkeypress="return isNumberDeimalKey(event)" maxlength="3" name="ug_percentage" value="{{ edit_student.ug_percentage }}">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="P.G (CGPA or CPI)" onkeypress="return isNumberDeimalKey(event)" maxlength="4" name="pg_cgpa" value="{{ edit_student.pg_cgpa }}">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" value="submit" class="btn btn-primary btn-block">Update Student</button>
            <a href="{% url 'clg_show_student' edit_student.placementDrive_id %}" class="btn btn-danger btn-block"> Back </a>
          </div><!-- /.col -->
        </div>
      </form>
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
<script>
    function onlyNumberKey(evt) {

        // Only ASCII charactar in that range allowed

        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
        {
            return false;
        return true;
        }
    }
     function isNumberDeimalKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
       }
</script>
<script>
  $(document).ready(function(){
// Prepare the preview for profile picture
    $("#wizard-picture").change(function(){
        readURL(this);
    });
});
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
        }
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
<script>
 $("#frm").submit(function(event){
 // var valDDL = $(this).val();
        //event.preventDefault();
         var valDDL = $("#ug_stream").val();
         if(valDDL=="Select_ug_stream")
         {
             event.preventDefault();
             alert("select stream in dropdown option");
         }
         var gender = $("#sex").val();
         if(gender=="Select_Gender")
         {
             event.preventDefault();
             alert("select gender");
         }
         var drive = $("#drive").val();
         if(drive=="default_drive")
         {
              event.preventDefault();
              alert("select Placement Drive");
         }
 });
 </script>

    </section>
    <!-- /.content -->
{% endblock main_content %}