{% extends 'college_template/base_template.html' %}
{% block page_title %}
Select Placement Drive to Manage Internship
{% endblock page_title  %}
{% block main_content %}
{% load tz %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Drive Name</th>
                      <th scope="col">Created At</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
<!--                      <th></th>-->
                    </tr>
                  </thead>
                  <tbody>

                  {% for drive in placement_drives %}
                    <tr>
                        {% if not drive.id == 1 %}
                          <th scope="row">{{ forloop.counter }} </th>
                          <td>{{ drive.drive_name }}</td>
                        <td>{{ drive.created_at|timezone:"Asia/Calcutta" }}</td>
                         {% if not drive.is_completed %}
                            <td>Active</td>
                          {% elif drive.is_completed %}
                            <td>Completed</td>
                          {% endif %}
                         {% if not drive.is_completed %}
                            <td><a href="{% url 'clg_manage_internship_publish' drive.id %}" class="btn btn-primary">View And Manage Internships</a></td>
                          {% elif drive.is_completed %}
                            <<td><a href="{% url 'clg_close_internship' drive.id %}" class="btn btn-primary">View Closed Internships</a></td>
                          {% endif %}


                        {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% if placement_drives.has_other_pages %}
              <ul class="pagination">
                {% if placement_drives.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ placement_drives.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in placement_drives.paginator.page_range %}
                  {% if students.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if placement_drives.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ placement_drives.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}

      </div>
    </section>
<script>
    function submitForm(selectedValue) {
                document.getElementById("from_Drive").submit();
    }
</script>
    <!-- /.content -->
{% endblock main_content %}