{% extends 'college_template/base_template.html' %}
{% block page_title %}
Manage Student
{% endblock page_title  %}
{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">

                          <form name="from_Drive" id="from_Drive" method="post">
                             <select class="form-control" name="drive" id="drive" onchange="submitForm(this.value)">
                                   <option value="default_drive">Select Placement Drive</option>
                               {% for dr in drive %}
                                    {% if dr.is_completed %}
                                            <option value="{{ dr.id }}" >{{ dr.drive_name }} - Drive Status : Closed {{ dr.id }}</option>
                                    {% endif %}
                                    {% if not dr.is_completed %}
                                            <option value="{{ dr.id }}" >{{ dr.drive_name }} - Drive Status : Active</option>
                                    {% endif %}
                               {% endfor %}
                          </select>
                               {% csrf_token %}
                          </form>


      </div>
    </section>
<script>
    function submitForm(selectedValue) {
                document.getElementById("from_Drive").submit();
    }
</script>
    <!-- /.content -->
{% endblock main_content %}