{% extends 'college_template/base_template.html' %}
{% block page_title %}
Select Placement Drive to Manage Registered Student
{% endblock page_title  %}
{% block main_content %}
{% load tz %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">

                         <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Drive Name</th>
                      <th scope="col">Created At</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
<!--                      <th></th>-->
                    </tr>
                  </thead>
                  <tbody>

                  {% for drive in placement_drives %}
                    <tr>
                        {% if not drive.id == 2147483647 %}
                          <th scope="row">{{ forloop.counter }} </th>
                          <td>{{ drive.drive_name }}</td>
                        <td>{{ drive.created_at|timezone:"Asia/Calcutta" }}</td>
                         {% if not drive.is_completed %}
                            <td>Active</td>
                          {% elif drive.is_completed %}
                            <td>Completed</td>
                          {% endif %}

                            <td><a href="#" class="btn btn-primary">View And Manage Students</a></td>

                        {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>


      </div>
    </section>
<script>
    function submitForm(selectedValue) {
                document.getElementById("from_Drive").submit();
    }
</script>
    <!-- /.content -->
{% endblock main_content %}