{% extends 'college_template/base_template.html' %}
{% block page_title %}
     Placement Drive
{% endblock page_title  %}
{% block main_content %}
{% load tz %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
<!--          <div class="container-fluid">-->
<!--          </div>-->
<!--          <div class="container-fluid">-->
          <table class="table">
                  <thead class="thead-dark">
                  <tr>
                      <td>
                      <a href="{%  url 'add_new_pms_drive' %}" class="btn btn-primary" >Add New Placement Drive</a>
                      </td>
                  </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Drive Name</th>
                      <th scope="col">Created At</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for drive in placement_drives %}
                    <tr>
                        {% if not drive.id == 1 %}
                          <th scope="row">{{ forloop.counter }} </th>
                          <td>{{ drive.drive_name }}</td>
                          <td>{{ drive.created_at|timezone:"Asia/Calcutta" }}</td>
                         {% if not drive.is_completed %}
                            <td>Active</td>
                          {% elif drive.is_completed %}
                            <td>Completed</td>
                          {% endif %}
                          {% if not drive.is_completed %}
                            <td><a href="{% url 'pms_invite' drive.id %}" class="btn btn-warning">Invite Companies</a></td>
                            <td><a href="#" class="btn btn-danger">Close Drive</a></td>
                          {% elif drive.is_completed %}
                            <td><a href="#" class="btn btn-success">View Reports</a></td>
                          {% endif %}
                        {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

<!--          pagination -->
          {% if placement_drives.has_other_pages %}
              <ul class="pagination">
                {% if placement_drives.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ placement_drives.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in placement_drives.paginator.page_range %}
                  {% if placement_drives.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if placement_drives.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ placement_drives.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}

      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}