{% extends 'college_template/base_template.html' %}
{% block page_title %}
Reports of Drive : {{ drive.drive_name }}
{% endblock page_title  %}
{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static "dist/css/report_menu.css" %}">
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
     <div class="row">
        <div class="col-lg-3 col-sm-6">
            <h3>Student Options : </h3>
        </div>
     </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">

                    <h3> Student Registered </h3>
                    <h3> {{ students }} </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <a href="{% url 'college_drive_report_student_registered' drive_id %}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> Student Placed </h3>
                    <h3> {{ student_placed }} </h3>

                </div>
                <div class="icon">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                </div>
                <a href="{% url 'college_drive_report_student_placed' drive_id %}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                    <h3> Student Unplaced </h3>
                    <h3> {{ student_unplaced }} </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <a href="{% url 'college_drive_report_student_unplaced' drive_id %}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3> Student OptOut </h3>
                    <h3> {{ student_optout }} </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{% url 'college_drive_report_student_optout' drive_id %}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <h3>Company Options : </h3>
        </div>
     </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">

                    <h3> Total Internship </h3>
                    <h3> {{ internship }} </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                </div>
                <a href="{% url 'clg_report_internship_all' drive_id %}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

         <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> Total Published </h3>
                    <h3> {{ internship_posted }} </h3>

                </div>
                <div class="icon">
                    <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                </div>
                <a href="{% url 'clg_report_internship_published' drive_id %}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3> Total Unpublished </h3>
                    <h3> {{ internship_unposted }} </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
                <a href="{% url 'clg_report_internship_publish' drive_id %}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>



    </div>

</div>


      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}