{% extends 'college_template/base_template.html' %}
{% block page_title %}
<div class="row">
    <div class="col-md-8" >
        Report Unplaced Student of Placement Drive : {{ drive_info.drive_name }}


    </div>
    <div class="col-md-2" >
        <a href="{% url 'college_drive_report_student_unplaced_print' drive_info.id %}" class="btn btn-primary">print to pdf</a>
    </div>


    <a href="{% url 'college_drive_report' drive_info.id %}" class="btn btn-success">Go Back</a>
</div>
{% endblock page_title  %}
{% block main_content %}
{% load tz %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">

                <table class="table">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Enrollment No</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Email</th>
                    <th scope="col">S.S.C(%)</th>
                    <th scope="col">H.S.C(%)</th>
                    <th scope="col">Ug Stream</th>
                    <th scope="col">U.G(%)</th>
                    <th scope="col">CPI</th>
                  </tr>
                </thead>
                  <tbody>

                  {% for student in students %}
                    <tr>
                        {% if not student.id == 2147483647 %}
                          <th scope="row">{{ forloop.counter }} </th>
                        <td><img src="{{ student.profile_pic }}" class="img-circle elevation-2" width="82" height="82"></td>
                        <td>{{ student.user_type.first_name }}</td>
                        <td>{{ student.user_type.last_name }}</td>
                        <td>{{ student.enrolment_no }}</td>
                        <td>{{ student.phone_no }}</td>
                        <td>{{ student.user_type.email }}</td>
                        <td>{{ student.ssc_percentage }}</td>
                        <td>{{ student.hsc_percentage }}</td>
                        <td>{{ student.ug_stream }}</td>
                        <td>{{ student.ug_percentage }}</td>
                        <td>{{ student.pg_cgpa }}</td>


                        {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

      </div>
    </section>
<script>
    function submitForm(selectedValue) {
                document.getElementById("from_Drive").submit();
    }
</script>
    <!-- /.content -->
{% endblock main_content %}