{% extends 'college_template/base_template.html' %}
{% block page_title %}


<div class="row">
    <div class="col-md-8" >
        Report Optout Student of Placement Drive : {{ drive_info.drive_name }}


    </div>
    <div class="col-md-2" >
        <a href="{% url 'college_drive_report_student_optout_print' drive_info.id %}" class="btn btn-primary">print to pdf</a>
    </div>


    <a href="{% url 'college_drive_report' drive_info.id %}" class="btn btn-success">Go Back</a>
</div>
{% endblock page_title  %}
{% block main_content %}
{% load tz %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <div class="row">
          {% if messages %}
         <div class="col-12">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
            {% endif %}
             {% if message.tags == 'success' %}
            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
            {% endif %}
            {% endfor %}

          </div>
          {% endif %}
        </div>

                <table class="table">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Student First Name</th>
                    <th scope="col">Student Last Name</th>
                    <th scope="col">Enrollment No</th>
                    <th scope="col">Title</th>
                      <th scope="col">Reason</th>
                   </tr>
                </thead>
                  <tbody>

                  {% for student in students %}

                    <tr>

                        <th scope="row">{{ forloop.counter }} </th>
                        <td><img src="{{ student.student.profile_pic }}" class="img-circle elevation-2" width="82" height="82"></td>
                        <td>{{ student.student.user_type.first_name }}</td>
                        <td>{{ student.student.user_type.last_name }}</td>
                        <td>{{ student.student.enrolment_no }}</td>
                        <td>{{ student.title }}</td>
                        <td>{{ student.reason }}</td>


                    </tr>
                  {% endfor %}
                  </tbody>
                </table>


      </div>
    </section>
<script>
    function submitForm(selectedValue) {
                document.getElementById("from_Drive").submit();
    }
</script>
    <!-- /.content -->
{% endblock main_content %}